<!DOCTYPE html>
<head>
    <title>Card Details</title>
    <style>
         body {
            max-width: max-content;
            margin: auto;
            margin-top: 150px;
            }
    </style>
</head>

<body>

    <form method="POST">
                <input class="input" name="card_number" type="text" placeholder="Card Number">
                <button class = 'submitbut' type ='submit' value = "submit">Send</button>
    </form>

    <div class="content">
        <p>
            <h4>Bank: {{bank}}</h4>
            <br>
            <h4>Card type: {{card_type}} </h4>
            <br>
            <h4>Scheme: {{scheme}} </h4>
        </p>
    </div>

</body>

</html>