<!DOCTYPE html>
<head>
    <title>Card Details</title>
    
</head>

<body>

    <form method="POST">
                <input class="input" name="card_number" type="text" placeholder="Card Number">
                <button class = 'submitbut' type ='submit' value = "submit">Send</button>
    </form>

    <div class="content">
        <p>
            Bank: {{bank}}
            <br>
            Card: {{card_type}}
            <br>
             Scheme: {{scheme}}
        </p>
    </div>

</body>

</html>